%h2 Sign up
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = render "devise/shared/error_messages", resource: resource
  .field
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email"
  .field
    = f.label :password
    - if @minimum_password_length
      %em
        (#{@minimum_password_length} characters minimum)
    %br/
    = f.password_field :password, autocomplete: "new-password"
  .field
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation, autocomplete: "new-password"
  .field
    = f.label :nickname 
    = f.text_field :nickname, autofocus: true, maxlength: "6"
  .actions
    = f.submit "Sign up"

%body
.notification
  - flash.each do |key, value|
    = content_tag :div, value, class: key
  .registration-container
    / ここからヘッダー部分
    = render partial: 'shared/user-add-header-1'
    / ここまでヘッダー部分

    / ここからメイン部分
    %main
      %section.main__container
        %h2.registration 会員情報入力
        = form_with model: @user, url: user_registration_path, id: "new_user", class: "registration__form", local: true do |f|
          .main__content
            .form__group
              = f.label :nickname do
                %span ニックネーム
                %span.form__require 必須
              = f.text_field :nickname, class: "input-default", placeholder: "例) メルカリ太郎"

            .form__group
              = f.label :email do
                %span メールアドレス
                %span.form__require 必須
              = f.text_field :email, class: "input-default", placeholder: "PC・携帯どちらでも可"

            .form__group
              = f.label :password do
                %span パスワード
                %span.form__require 必須
              = f.text_field :password, class: "input-default", placeholder: "7文字以上"

            .form__group
              = f.label :password2 do
                %span パスワード(確認)
                %span.form__require 必須
              = f.text_field :password, class: "input-default", placeholder: "7文字以上"

            .form__group
              %h3.main__text__left 本人確認
              %p.main__text 安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。

            %p.main__text__gray
              ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。

            .form__group
              %p.main__text
                「次へ進む」のボタンを押すことにより、
                = link_to "#", target: "_blank" do
                  利用規約
                に同意したものとみなします

            = f.submit "次へ進む",class: "btn-red"

            .form__group.main__text__right
              %p
                = link_to "#" do
                  本人情報の登録について
                  = fa_icon "chevron-right", class: "icon-arrow-right"

    / ここからフッター部分
    = render partial: 'shared/terms-footer'
    / ここまでフッター部分
