%h2 Sign up
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = render "devise/shared/error_messages", resource: resource
  .field
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email"
  .field
    = f.label :password
    - if @minimum_password_length
      %em
        (#{@minimum_password_length} characters minimum)
    %br/
    = f.password_field :password, autocomplete: "new-password"
  .field
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation, autocomplete: "new-password"
  .field
    = f.label :nickname 
    = f.text_field :nickname, autofocus: true, maxlength: "6"
  .actions
    = f.submit "Sign up"
= render "devise/shared/links"



.signup__body
  = render partial: 'shared/mercari-header'
  .signup__form
    .signup__form__title
      %h2 新規会員登録
    .signup__form__choice
      .mail__choice.btn-default.choice-btn
        .mail__choice__logo
          =fa_icon "envelope-o lg"
        .mail__choice__text メールアドレスで登録する
      .facebook__choice.btn-default.choice-btn
        .facebook__choice__logo
          =fa_icon "facebook-square 2x"
        .facebook__choice__text Facebookで登録する
      .google__choice.btn-default.choice-btn
        .google__choice__logo
          = image_tag 'google.svg', alt: 'google-logo'
        .google__choice__text Googleで登録する
  = render partial: 'shared/terms-footer'
