= render partial: 'shared/mercari-header'
.item-buy
  .item-buy__content
    .item-buy__header
      %h2.item-buy__header--text
        購入内容の確認
    %section.item-buy__detail
      .item-buy__inner
        .item-buy__detail__top
          -if @item_image.present?
            = image_tag @item_image.image.url, alt: "item-image", class: "item-buy__detail__img"
          -else
            = image_tag 'no-image.png', alt: "item-image", class: "item-buy__detail__img"
          .item-buy__detail__title
            %p.item-buy__detail__title--text
              = @item.name
        .item-buy__detail__middle
          %p.item-buy__detail__fee
            ¥
            = @item.price
            %span.item-buy__detail__fee--text
              送料込み
          .item-buy__detail__point
            %span.item-buy__detail__point--text
              ポイントはありません
          %ul.item-buy__detail__fee-ttl
            %li.item-buy__detail__fee-ttl__box
              支払い金額
            %li.item-buy__detail__fee-ttl__box
              %span.item-buy__detail__fee-ttl--text
                ¥
                = @item.price
        .item-buy__detail__payment-error
          %span.item-buy__detail__payment-error--text
            配送先と支払い方法の入力を完了してください。
        .item-buy__detail__bottom
          .item-buy__detail__button
            =link_to item_transaction_informations_path(@item), method: :post, class: "btn-default btn-red submit_button" do
              %span.item-buy__detail__button--text
                購入する
    -# TODO: ユーザーの住所情報が登録できるようになったら変数に置き換える
    %section.item-buy__shipping
      .item-buy__inner
        %h3.item-buy__shipping__top
          配送先
        %address.item-buy__shipping__address
        - if @user_detail.postal_code.to_s[6]
          = @user_detail.postal_code
          -# = "〒" + @user_detail.postal_code.to_s[0,1,2] + "-" + @user_detail.postal_code.to_s[3,4,5,6]
          %br/
          %br/
          = @prefecture.name + " " + @user_detail.cities
          %br/
          %br/
          = @user_detail.family_name + @user_detail.first_name
        = link_to root_path, class: "item-buy__change" do
          %span.item-buy__change--text
            変更する
          = fa_icon "chevron-right", class: "item-buy__change__icon"
    %section.item-buy__payment
      .item-buy__inner
        .item-buy__payment__top
          支払い方法
        .item-buy__payment__card
          - if @card_information.blank?
            ****************************
          - else
            %figure.card-info
              %br
              = image_tag '//www-mercari-jp.akamaized.net/assets/img/card/' + @card_src+'?2482339763', alt: @card_src
              %br
              %br
              .settings__payment__num
                = "**** **** **** " + @card_information.last4
              .settings__payment__num
                = @month_year
        = link_to root_path, class: "item-buy__change" do
          %span.item-buy__change--text
            変更する
          = fa_icon "chevron-right", class: "item-buy__change__icon"
= render partial: 'shared/terms-footer'