.testbody
  .atama
  .nakami
  .footer
    .camera
      = link_to "https://www.mercari.com/jp/sell/", class: "camera__link", method: :get do
        .camera__nakami
          .camera__nakami__text 出品
          %svg.camera__nakami__image{ height: "16", viewbox: "0 0 18 16", width: "18"}
            %path{d: "M6.3 0L4.653 1.778H1.8c-.99 0-1.8.8-1.8 1.778v10.666C0 15.2.81 16 1.8 16h14.4c.99 0 1.8-.8 1.8-1.778V3.556c0-.978-.81-1.778-1.8-1.778h-2.853L11.7 0H6.3zM9 13.333c-2.484 0-4.5-1.99-4.5-4.444 0-2.453 2.016-4.445 4.5-4.445s4.5 1.992 4.5 4.445c0 2.453-2.016 4.444-4.5 4.444zm0-1.6c1.59 0 2.88-1.273 2.88-2.844S10.59 6.044 9 6.044c-1.59 0-2.88 1.274-2.88 2.845 0 1.57 1.29 2.844 2.88 2.844z", fill: "currentColor", "fill-rule": "nonzero"}

    %aside.footer__up
      .footer__up__inner
        .footer__up__inner__left
          .footer__up__inner__left__up スマホでかんたんフリマアプリ
          .footer__up__inner__left__down 今すぐ無料ダウウンロード！
          .footer__up__inner__left__image
            = image_tag 'mercari_icon-f75780e32e41e052c8aaa8b446331cd8.png', class: 'footer__up__inner__left__image__mercari__icon'
            = link_to "https://apps.apple.com/jp/app/id667861049?l=ja", class: "camera__link", method: :get do
              = image_tag 'app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg', class: 'footer__up__inner__left__image__appstore__icon'
            = link_to "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja", class: "camera__link", method: :get do
              = image_tag 'google-play-495575abb895b405aa6336b2a4304958.svg', class: 'footer__up__inner__left__image_ggp__icon'
        %figure.footer__up__inner__right
          = image_tag 'download_app_pc-a4418175e8be071827ac88d073f40e4a.png', class: 'footer__up__inner__left__image__sumaho__image'
                
    .footer__down
      .footer__down__inner
        %nav.footer__down__inner__listgroup
          .merukarinituite.listbox
            %h2.list__title メルカリについて
            %ul.lists
              %li.footer__li 
                = link_to "会社概要（運営会社)","https://www.mercari.com/jp/",class: "footer__li__link" ,method: :get
              %li.footer__li 
                = link_to "採用情報","https://www.mercari.com/jp/",class: "footer__li__link" ,method: :get
              %li.footer__li 
                = link_to "プレスリリース","https://www.mercari.com/jp/",class: "footer__li__link" ,method: :get
              %li.footer__li 
                = link_to "公式ブログ","https://www.mercari.com/jp/",class: "footer__li__link" ,method: :get
              %li.footer__li 
                = link_to "メルカリロゴ利用ガイドライン","https://www.mercari.com/jp/",class: "footer__li__link" ,method: :get
              .twitter.sns
                =fa_icon "twitter 3x"
              .facebook.sns
                =fa_icon "facebook-square 3x"
          .helpandguid.listbox
            %h2.list__title  ヘルプ＆ガイド
            %ul.lists
              %li.footer__li 
                = link_to "メルカリガイド","https://www.mercari.com/jp/",class: "footer__li__link" ,method: :get
              %li.footer__li 
                = link_to "らくらくメルカリ便","https://www.mercari.com/jp/",class: "footer__li__link" ,method: :get
              %li.footer__li 
                = link_to "ゆうゆうメルカリ便","https://www.mercari.com/jp/",class: "footer__li__link" ,method: :get
              %li.footer__li 
                = link_to "大型メルカリ便","https://www.mercari.com/jp/",class: "footer__li__link" ,method: :get
              %li.footer__li 
                = link_to "車体取引ガイド","https://www.mercari.com/jp/",class: "footer__li__link" ,method: :get
              %li.footer__li 
                = link_to "メルカリあんしん・あんぜん宣言！","https://www.mercari.com/jp/",class: "footer__li__link" ,method: :get
              %li.footer__li 
                = link_to "偽ブランド品撲滅への取り組み","https://www.mercari.com/jp/",class: "footer__li__link" ,method: :get
              %li.footer__li 
                = link_to "メルカリボックス","https://www.mercari.com/jp/",class: "footer__li__link" ,method: :get
          .privacy.listbox
            %h2.list__title プライバシーと利用規約
            .privacy__list__inner
              .privacy__list__inner__left.lists
                %ul
                  %li.footer_li.first__list 
                    = link_to "プライバシーポリシー","https://www.mercari.com/jp/",class: "footer__li__link" ,method: :get
                  %li.footer__li 
                    = link_to "メルカリ利用規約","https://www.mercari.com/jp/",class: "footer__li__link" ,method: :get
                  %li.footer__li 
                    = link_to "あんしんスマホサポート制度に関する利用特約","https://www.mercari.com/jp/",class: "footer__li__link" ,method: :get
                  %li.footer__li 
                    = link_to "コンプライアンスポリシー","https://www.mercari.com/jp/",class: "footer__li__link" ,method: :get
              .privacy__list__inner__right.lists
                %ul
                  %li.footer_li.first__list
                    = link_to "個人データの安全管理に係る基本方針","https://www.mercari.com/jp/",class: "footer__li__link" ,method: :get
                  %li.footer__li 
                    = link_to "特定商取引に関する表記","https://www.mercari.com/jp/",class: "footer__li__link" ,method: :get
                  %li.footer__li 
                    = link_to "資金決済法に基づく表示","https://www.mercari.com/jp/",class: "footer__li__link" ,method: :get
                  %li.footer__li 
                    = link_to "法令順守と犯罪抑止のために","https://www.mercari.com/jp/",class: "footer__li__link" ,method: :get
          .kuni.listbox.listbox
            %h2.list__title 国
            %ul.list
              %li.footer__li 
                = link_to "日本","https://www.mercari.com/jp/",class: "footer__li__link" ,method: :get
              %li.footer__li 
                = link_to "United States","https://www.mercari.com/jp/",class: "footer__li__link" ,method: :get
        .footer__down__under
          = link_to "https://www.mercari.com/jp/", method: :get do
            = image_tag 'logo-white-1a0696cf557ee1ed6f3c3444661d21ad.svg' 
          %span.footer__down__under__hyouki © 2019 Mercari