%header.shared-header
  .shared-header__main
    .shared-header__top
      .shared-header__title
        = link_to root_path, class: "shared-header__link" do
          = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2394192159", class: "shared-header__title__img" , alt: "mercari"
      -# 検索フォーム

      = form_with(url:  items_search_items_path, method: :get, local: true)  do |f|
        = f.text_field :search ,placeholder: "何かお探しですか？" ,class: "search__form__text-field"
        = button_tag type: 'submit', class: 'search__form__button' do
          =fa_icon "search"

    .shared-header__nav
      %ul.nav__left
        %li.nav__left__box
          = link_to root_path, class: "nav__left__link" do
            %svg.header__svg.header__svg__category{ "aria-hidden" => "true", viewBox: "0 0 20 16" }
              %path{d: "M18.799 15.25h-11.5a1.25 1.25 0 1 1 0-2.5h11.5a1.25 1.25 0 0 1 0 2.5zm0-6h-11.5a1.25 1.25 0 1 1 0-2.5h11.5a1.25 1.25 0 0 1 0 2.5zm0-6h-11.5a1.25 1.25 0 1 1 0-2.5h11.5a1.25 1.25 0 0 1 0 2.5zM2 16a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0-6a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0-6a2 2 0 1 0 0-4 2 2 0 0 0 0 4z", fill: "currentColor", "fill-rule" => "nonzero" }
            %span
              カテゴリーから探す
        %li.nav__left__box
          = link_to root_path, class: "nav__left__link" do
            %svg.header__svg.header__svg__brand{ "aria-hidden" => "true", viewBox: "0 0 23 16" }
              %path{d: "M6.315 0L4.473 1.806 2.833.019.73 1.977l1.69 1.84L1.198 5.02c-1.594 1.594-1.594 4.188-.01 5.772L6.3 16h13.272a3.08 3.08 0 0 0 3.077-3.077V3.076A3.08 3.08 0 0 0 19.57 0H6.315zm13.46 12.925a.211.211 0 0 1-.205.205H7.504L3.227 8.771a1.226 1.226 0 0 1-.01-1.71L4.38 5.92l1.28 1.371a2.68 2.68 0 1 0 2.13-1.93L6.433 3.907 7.49 2.87h12.082a.211.211 0 0 1 .206.205v9.848h-.002z", fill: "currentColor", "fill-rule" => "nonzero" }
            %span
              ブランドから探す
          
      -# ログインしているかいないかで表示が変わる
      -# ログインしている場合
      - if user_signed_in?
        .nav__right
          %ul.nav__user
            %li.nav__user__menu
              = link_to root_path, class: "nav__user__menu-link" do
                = fa_icon 'heart-o', class: "icon-heart"
                %span いいね！一覧
            %li.nav__user__menu{"data-id" => "pc-header-user-nav", "data-key" => "notification_list", "data-url" => "https://www.mercari.com/jp/mypage/notification_and_todo_json/"}
              = link_to root_path, class: "nav__user__menu-link", "data-url" => "https://www.mercari.com/jp/mypage/notification_and_todo_json/" do
                %svg.header__svg.header__svg__notice{"aria-hidden" => "true", :viewbox => "0 0 14 16"}
                  %path{:d => "M6.592 16c.89 0 1.632-.734 1.632-1.632H4.928c0 .898.742 1.632 1.664 1.632zm4.896-4.928V6.976c-.008-2.521-1.345-4.63-3.712-5.184v-.576C7.79.55 7.241 0 6.56 0c-.68 0-1.23.55-1.216 1.216v.576c-2.36.554-3.704 2.654-3.712 5.184v4.096L0 12.704v.832h13.12v-.832l-1.632-1.632zm-1.632.832h-6.56V6.976c0-2.024 1.238-3.68 3.296-3.68 2.026 0 3.264 1.656 3.264 3.68v4.928z", :fill => "currentColor", "fill-rule" => "nonzero"}
                お知らせ
                %span.nav__user__menu__count
                  10
            %li.nav__user__menu{"data-id" => "pc-header-user-nav", "data-key" => "todo_list", "data-url" => "https://www.mercari.com/jp/mypage/notification_and_todo_json/"}
              = link_to root_path, class: "nav__user__menu-link", "data-url" => "https://www.mercari.com/jp/mypage/notification_and_todo_json/" do
                %svg.header__svg.header__svg__doing{"aria-hidden" => "true", :viewbox => "0 0 21 16"}
                  %path{:d => "M6.682 12.657L1.67 7.642 0 9.313 6.682 16 21 1.672 19.33 0z", :fill => "currentColor", "fill-rule" => "nonzero"}
                やることリスト
                %span.nav__user__menu__count
                  1
            %li.nav__user__menu
              = link_to user_path(current_user.id), class: "nav__user__menu-link", "data-url" => "https://www.mercari.com/jp/mypage/notification_and_todo_json/" do
                = image_tag "//static.mercdn.net/images/member_photo_noimage_thumb.png", class: "nav__user__img" , alt: ""
                マイページ
                %span 
      - else
        .nav__right
          .nav__right__new-member
            = link_to "新規会員登録", sign_up_select_path, class: "new-member__link nav__right__button"
              
          .nav__right__sign-in
            = link_to "ログイン", new_user_session_path, class: "sign-in__link nav__right__button"