.signup__body__footer
  .signup__body__footer__texts
    %ul
      %li
        = link_to "プライバシーポリシー",'#' 
      %li
        = link_to "メルカリ利用規約",'#' 
      %li
        = link_to "特定商取引に関する表記",'#' 
  .signup__body__footer__under
    .signup__body__footer__under__merukari__logo
      = link_to '#' do
        = image_tag 'logo-gray.svg', alt: 'logo-gray'
    .signup__body__footer__under__text
      © 2019 Mercari
  