.signup__body__footer
  .signup__body__footer__texts
    %ul
      %li
        = link_to "プライバシーポリシー",'https://www.mercari.com/jp/privacy/' 
      %li
        = link_to "メルカリ利用規約",'https://www.mercari.com/jp/tos/' 
      %li
        = link_to "特定商取引に関する表記",'https://www.mercari.com/jp/tokutei/' 
  .signup__body__footer__under
    .signup__body__footer__under__merukari__logo
      = link_to 'https://www.mercari.com/jp/' do
        = image_tag 'logo-gray.svg', alt: 'logo-gray'
    .signup__body__footer__under__text
      © 2019 Mercari
  