= link_to "トップページ","/items",{class: "tekitou"}
%br
%br
= link_to "ユーザーマイページ","http://localhost:3000/users/show",{class: "tekitou"}
%br
%br
= link_to "ユーザープロフィール編集ページ","http://localhost:3000/pending/edit",{class: "tekitou"}
%br
%br
= link_to "購入確認","http://localhost:3000/pending/itembuy",{class: "tekitou"}
%br
%br
= link_to "新規登録","http://localhost:3000/users/sign_up",{class: "tekitou"}
%br
%br
= link_to "ログイン","http://localhost:3000/users/sign_in",{class: "tekitou"}
%br
%br
= link_to "クレジット登録（未実装）","http://localhost:3000/users/login",{class: "tekitou"}
%br
%br
= link_to "ユーザーログアウト","http://localhost:3000/pending/logout",{class: "tekitou"}
%br
%br
= link_to "商品詳細","http://localhost:3000/items/show",{class: "tekitou"}
%br
%br
= link_to "ユーザー本人確認（未実装）","http://localhost:3000/items/show",{class: "tekitou"}
%br
%br
= link_to "商品出品（未実装）","http://localhost:3000/items/show",{class: "tekitou"}