
.view-index
  = link_to "トップページ",root_path,{class: "tekitou"}
  %br
  %br
  = link_to "ユーザーマイページ",user_path(1),{class: "tekitou"}
  %br
  %br
  = link_to "ユーザープロフィール編集ページ","/pending/edit",{class: "tekitou"}
  %br
  %br
  = link_to "購入確認","/pending/itembuy",{class: "tekitou"}
  %br
  %br
  = link_to "新規登録",new_user_registration_path,{class: "tekitou"}
  %br
  %br
  = link_to "ログイン",user_session_path,{class: "tekitou"}
  %br
  %br
  = link_to "ユーザーログアウト","/pending/logout",{class: "tekitou"}
  %br
  %br
  = link_to "商品詳細",item_path(1),{class: "tekitou"}
  %br
  %br
  = link_to "ユーザー本人確認（未実装）",item_path(1),{class: "tekitou"}
  %br
  %br
  = link_to "商品出品（未実装）",item_path(1),{class: "tekitou"}
  %br
  %br
  = link_to "カード追加", cards_path, class: "tekitou"
  %br
  %br
  = link_to "支払情報登録", new_card_path, class: "tekitou"
  %br
  %br
  = link_to "会員登録完了", "/pending/member_complate", class: "tekitou"
  %br
  %br
  = link_to "マイアイテム", "/items/myitem/16", class: "tekitou"
  %br
  %br
  = link_to "ユーザーサインアップ1",pending_user_signup1_path, class: "tekitou"
  %br
  %br
  = link_to "ユーザーサインアップ2",pending_user_signup2_path, class: "tekitou"

