
.user-address
  .user-address__header
    %p.user-address__header__text 住所入力
  = form_with(id: "user-address__form", class: "user-address__main") do |f|
    .user-address__form
      .user-address__form__content
        .user-address__form__box
          = f.label :xxx do
            %span.user-address__form__text お名前
            %span.user-address__form__require 必須
          = f.text_field :xxx, id: "user-address__family-name", class: "user-address__form__text-field", placeholder: "例）枡田"
          = f.text_field :xxx, id: "user-address__first-name", class: "user-address__form__text-field", placeholder: "例）美衣"
        .user-address__form__box
          = f.label :xxx do
            %span.user-address__form__text お名前カナ
            %span.user-address__form__require 必須
          = f.text_field :xxx, id: "user-address__family-name-kana", class: "user-address__form__text-field", placeholder: "例）マスタ"
          = f.text_field :xxx, id: "user-address__first-name-kana", class: "user-address__form__text-field", placeholder: "例）ビイ"
        
        .user-address__form__box
          = f.label :xxx do
            %span.user-address__form__text 郵便番号
            %span.user-address__form__require 必須
          = f.text_field :xxx, id: "user-address__postal-code", class: "user-address__form__text-field", placeholder: "例）123-4567"

        .user-address__form__box
          = f.fields_for :user_details do |d|
            = f.label :xxx do
              %span.user-address__form__text 都道府県
              %span.user-address__form__require 必須
            .user-address__form__select-wrap
              = fa_icon 'chevron-down', class:"user-address__form__icon__arrow-bottom"
              = d.collection_select :prefecture, Prefecture.all, :id, :name, {}, class: 'user-address__form__select'

        .user-address__form__box
          = f.label :xxx do
            %span.user-address__form__text 市区町村
            %span.user-address__form__require 必須
          = f.text_field :xxx, id: "user-address__cities", class: "user-address__form__text-field", placeholder: "例）大阪市中央区"

        .user-address__form__box
          = f.label :xxx do
            %span.user-address__form__text 番地
            %span.user-address__form__require 必須
          = f.text_field :xxx, id: "user-address__address", class: "user-address__form__text-field", placeholder: "例）難波５丁目１−１番６０号"

        .user-address__form__box
          = f.label :xxx do
            %span.user-address__form__text 建物名
            %span.user-address__form__any 任意
          = f.text_field :xxx, id: "user-address__building_name", class: "user-address__form__text-field", placeholder: "例）大阪なんばスカイオビル15F"

        .user-address__form__box
          = f.label :xxx do
            %span.user-address__form__text 電話
            %span.user-address__form__any 任意
          = f.text_field :xxx, id: "user-address__phone_number", class: "user-address__form__text-field", placeholder: "例）09012345678"

        = f.submit :xxx, value: "次へ進む", id: "user-address__submit-button", class: "user-address__form__button"

= render partial: 'shared/footer'