= render partial: 'shared/mercari-header'
%main.single-header
  %section.l__single__container.buy-item-container
    .sell__container
      .sell__container__inner
        %h2.l__single__head 商品の情報を入力
        = form_with model: @item, class: "sell__form" , local: true do |f|
          .sell__upload__box
            %h3.sell__upload__head{data: {item_id: @item.id}}
              出品画像
              %span.form__require 必須
            %p 最大10枚までアップロードできます
            .sell__dropbox-container.clearfix.state-image-number-10
              = f.fields_for :images, html: {id: "item-images__form"} do |i|
                .sell__dropbox__box__inner
                  .sell__dropbox__box__inner__nonaka
                    - @item.item_images.each_with_index do |im,n|
                      .edit-item__images{class: "#{n}",data: {number: n}}
                        = image_tag im.image.url ,{class: 'edit-item__images__image'}
                        .edit-item__images__btns
                          =link_to "編集", "#",class: "edit-item__images__btns__edit"
                          = f.hidden_field :id,{value: im.id ,name: "item[item_images_attributes][][id]" }
                          = f.check_box :_destroy,name: "item[item_images_attributes][][_destroy]"
                          =link_to "削除", "#",class: "motomoto_btn", data: { id: im.id, default: 'default' }
                    #upload__file__previews.hidden
                      = image_tag '', id: 'avatar_img_prev', class: 'edit-item__images__image',data: {image: 0}
                      .edit-item__images__btns
                        =link_to "編集", "#",class: "edit-item__images__btns__edit"
                        =link_to "削除", "#",class: "edit-item__images__btns__delete"

                    .upload__box
                      = f.file_field :image ,name: "item[item_images_attributes][][image]",class: 'sell__upload__drop-file',id: 'post_img_last',accept: "image/*",multiple: true,data: {image: 0}
                      %pre.upload__box__text
                        ドラッグアンドドロップ
                        またはクリックしてファイルをアップロード


          .sell__form__content
            .form__group
              = f.label :name do
                商品名
                %span.form__require 必須
              %div
                = f.text_field :name, class: "input__default", placeholder: "商品名(必須40文字まで)"
            .form__group
              = f.label :description do
                商品の説明
                %span.form__require 必須
              = f.text_area :description, class: "textarea-default",placeholder: "商品の説明(必須1,000文字以内) (色、素材、重さ、定価、注意点など) 例) 2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。合わせやすいのでおすすめです。"


          .sell__form__content.clearfix
            %h3.sell__form__content__sub-head 商品の詳細
            .sell__form__content-box
              .form__group
                = f.label :category_id do
                  カテゴリー
                  %span.form__require 必須
                %div
                  .select-wrap
                    =fa_icon 'chevron-down', class: "icon-arrow-bottom"
                    = select :category_1,:category_1, options_from_collection_for_select(Category.all.order("id ASC").limit(13), :id, :category),{}, {class: 'item__f-select'}
                  .select-wrap.category-box__child
                    =fa_icon 'chevron-down', class: "icon-arrow-bottom"
                    = select :category_2,:category_2, options_from_collection_for_select(Category.where(id: @item.category.parent.id), :id, :category), {}, {class: 'item__f-select'}
                  .select-wrap.category-box__grandchild
                    =fa_icon 'chevron-down', class: "icon-arrow-bottom"
                    = f.select :category_id, options_from_collection_for_select(Category.where(id: @item.category_id), :id, :category), {}, {class: 'item__f-select'}

              .form__group
                = f.label :xxx do
                  サイズ
                  %span.form__require 必須
                %div
                  .select-wrap
                    =fa_icon 'chevron-down', class: "icon-arrow-bottom"
                    = select :"select__default" ,:"select__default" ,:property, {},:class => 'item__f-select' do
                      %option M
                      %option L
              .form__group.form__suggest__container
                = f.label :brand_id do
                  ブランド
                  %span.form__arbitrary 任意
                %div
                  = f.text_field :brand_id, name: "brand_id", url:"#", class: "input__default", placeholder: "例) シャネル",value: "#{@item.brand.name}"
              .form__group
                = f.label :status do
                  商品の状態
                  %span.form__require 必須
                %div
                  .select-wrap
                    =fa_icon 'chevron-down', class: "icon-arrow-bottom"
                    = select :"select__default",:"select__default"  ,:property, {},:class => 'item__f-select' do
                      %option 新品/未使用に近い
                      %option 全体的に状態が悪い


          .sell__form__content.clearfix
            %h3.sell__form__content__sub-head 配送について
            .sell__form__content-box
              .form__group
                = f.label :delivery_fee do 
                  配送料の負担
                  %span.form__require 必須
                %div
                  .select-wrap
                    =fa_icon 'chevron-down', class: "icon-arrow-bottom"
                    = f.select :delivery_fee ,[['送料込み(出品者負担)', true], ['着払い(購入者負担)',false]],{}, :class => 'item__f-select'
              .form__group
                = f.label :delivery_fee do 
                  配送の方法
                  %span.form__require 必須
                %div
                  .select-wrap
                    =fa_icon 'chevron-down', class: "icon-arrow-bottom"
                    = f.select :shipping_method ,['----'],{}, :class => 'item__f-select'

              .form__group
                = f.label :region do 
                  発送元の地域
                  %span.form__require 必須
                %div
                  .select-wrap
                    =fa_icon 'chevron-down', class: "icon-arrow-bottom"
                    = f.select :region ,['北海道','青森県','岩手県','宮城県','秋田県','山形県','福島県','茨城県','栃木県','群馬県','埼玉県','千葉県','東京都','神奈川県','新潟県','富山県','石川県','福井県','山梨県','長野県','岐阜県','静岡県','愛知県','三重県','滋賀県','京都府','大阪府','兵庫県','奈良県','和歌山県','鳥取県','島根県','岡山県','広島県','山口県','徳島県','香川県','愛媛県','高知県','福岡県','佐賀県','長崎県','熊本県','大分県','宮崎県','鹿児島県','沖縄県'],{}, :class => 'item__f-select'
              .form__group
                = f.label :delivery_days do 
                  発送までの日数
                  %span.form__require 必須
                %div
                  .select-wrap
                    =fa_icon 'chevron-down', class: "icon-arrow-bottom"
                    = f.select :delivery_days ,['1~2日で発送',' 3~4日で発送',' 4~7日で発送'],{}, :class => 'item__f-select'

          .sell__form__content.clearfix
            %h3.sell__form__content__sub-head 販売価格(300~9,999,999)
            .sell__form__content-box
              %ul.sell__price
                %li.form__group
                  .clearfix
                    = f.label :price, class: "l-left" do
                      価格
                      %span.form__require 必須
                    .l-right.sell__price__input
                      ¥
                      %div
                        = f.text_field :price, class: "input__default", placeholder: "例)  500"
                %li.clearfix
                  .l-left
                    販売手数料(10%)
                  .l-right
                    ー
                %li.cleatfix
                  .l-left 販売利益
                  .l-right ー


          .sell__form__content.sell__btn__box
            %div
              %p
                = link_to "禁止されている商品", "#"
                、
                = link_to "行為", "#"
                を必ずご確認ください。
              %p
                またブランドでシリアルナンバー等がある場合はご記載ください。
                = link_to "偽ブランドの販売"
                は犯罪であり処罰される可能性があります。
              %p
                また、出品を持ちまして
                = link_to "加盟店規約", "#"
                に同意したことになります。
            = f.submit "出品する",type: "submit", class: "btn__default btn__red"
            = link_to "もどる",root_path, class: "btn__default btn__gray"
  = render partial: 'shared/terms-footer'

