= render partial: 'shared/header'
.top-main
  .special-issue-image
    .top__banners
      =image_tag "top-banner1.jpg"
      =image_tag "top-banner2.jpg"
      .top__banners__box
        =image_tag "top-banner3.jpg",class: "top-banner-image3"
        .top__banners__box__text
          .top__banners__box__text__left
            .top__banners__box__text__left__title
              %p スマホでかんたん
              %p フリマアプリ
            .top__banners__box__text__left__undertext
              %p メルカリはスマホカメラからすぐに出品できる
              %p 購入時も安心な独自システムのアプリです
            .top__banners__box__text__left__icon
              = link_to "https://apps.apple.com/jp/app/id667861049?l=ja", class: "camera__link", method: :get do
                = image_tag 'app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg', class: 'footer__up__inner__left__image__appstore__icon'
              = link_to "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja", class: "camera__link", method: :get do
                = image_tag 'google-play-495575abb895b405aa6336b2a4304958.svg', class: 'footer__up__inner__left__image_ggp__icon'
          .top__banners__box__text__right
            =image_tag "top-banner-phone.png",class: "top-banner-phone"

    .select__btn__arrow
      =image_tag "https://web-jp-assets.mercdn.net/_next/static/images/carousel-prev-af7ca886ce42c4c02610cd15421ddcad.png",class:'slider-control__left'
      =image_tag "https://web-jp-assets.mercdn.net/_next/static/images/carousel-next-bc3a1438a1435e953bc67d720cd05c61.png",class:'slider-control__right'
    .top__indicators
      %span.top-banner__btn
      %span.top-banner__btn
      %span.top-banner__btn
  .popular-category
    %h2.popular-category__title
      人気のカテゴリー
      %ul.popular-category__list
        %li.popular-category__name
          レディース
        %li.popular-category__name
          メンズ
        %li.popular-category__name
          家電・スマホ・カメラ 
        %li.popular-category__name
          おもちゃ・ホビー・グッズ
    .new-arrival-list
      .new-arrival-list__block
        %h3.new-arrival-item__title
          レディース新着アイテム 
        %p.new-arrival-item__more
          もっと見る
          =fa_icon"chevron-right",class:'icon'
      .new-arrival-item
        - @ladys_items.each do |item|
          .new-arrival-item__box
            = link_to  item_path(item)  do
              -if item.status == 1
                .soldout__tag
                  .soldout__tag__text
                    %p SOLD
                    .soldout__tag__back
              -if item.item_images.present?
                - item.item_images.each_with_index do |item_image, i|
                  - if i == 0
                    = image_tag item_image.image.url, alt: 'item-image', class: 'new-arrival-item__box--image'
                  - else
                    - break
              - else
                =image_tag 'no-image.png',class: 'new-arrival-item__box--image'
            .new-arrival-item__box--text
              = item.name
            .new-arrival-item__box--price
              ¥
              = item.price


    .popular-brands 
      %h2.popular-brands__title
        人気のブランド
      %ul.popular-brands__list
        %li.popular-brands__name
          シャネル
        %li.popular-brands__name
          ルイヴィトン
        %li.popular-brands__name
          シュプリーム
        %li.popular-brands__name
          ナイキ
= render partial: 'shared/footer'
