-# ここからヘッダー部分
= render partial: 'shared/mercari-header'
-# ここまでヘッダー部分

-# ここからメイン部分
%main.single-header
  %section.l__single__container.buy-item-container
    .sell__container
      .sell__container__inner
        %h2.l__single__head 商品の情報を入力
        = form_with(url: "/items", class: "sell__form", local: true) do |f|
          .sell__upload__box
            %h3.sell__upload__head
              出品画像
              %span.form__require 必須
            %p 最大10枚までアップロードできます
            -# .sell__dropbox-container.clearfix.state-image-number-10
            -#   .sell__dropbox__box.have__item-0
            -#     = file_field :xxx, url: "#", class: "sell__upload__drop-file"
            -#     %pre.visible-pc 
            -#       ドラッグアンドドロップ
            -#       またはクリックしてファイルをアップロード
            -#       = file_field :image, class: 'hidden'

          .sell__form__content
            .form__group
              = f.label :name do
                商品名
                %span.form__require 必須
              %div
                = f.text_field :name, class: "input__default", placeholder: "商品名(必須40文字まで)"
            .form__group
              = f.label :description do
                商品の説明
                %span.form__require 必須
              = f.text_area :description, class: "textarea-default", placeholder: "商品の説明(必須1,000文字以内) (色、素材、重さ、定価、注意点など) 例) 2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。合わせやすいのでおすすめです。"

          .sell__form__content.clearfix
            %h3.sell__form__content__sub-head 商品の詳細
            .sell__form__content__box
              .form__group
                = f.label :category_id do
                  カテゴリー
                  %span.form__require 必須
                %div
                  .select-wrap
                    =fa_icon 'chevron-down', class: "icon-arrow-bottom"
                    = select :xxx , class: "select__default" do
                      %option レディース
                  .select-wrap
                    =fa_icon 'chevron-down', class: "icon-arrow-bottom"
                    = select :xxx , class: "select__default" do
                      %option トップス
                  .select-wrap
                    =fa_icon 'chevron-down', class: "icon-arrow-bottom"
                    = f.select :category_id, class: "input__default" do
                      %option 3

              .form__group
                = f.label :size do
                  サイズ
                  %span.form__require 必須
                %div
                  .select-wrap
                    =fa_icon 'chevron-down', class: "icon-arrow-bottom"
                    = f.select :size, class: "select__default" do
                      %option M

              .form__group.form__suggest__container
                = f.label :brand_id do
                  ブランド
                  %span.form__arbitrary 任意
                %div
                  = f.text_field :brand_id, class: "input__default", placeholder: "例) シャネル"

              .form__group
                = f.label :saved_state do
                  商品の状態
                  %span.form__require 必須
                %div
                  .select-wrap
                    =fa_icon 'chevron-down', class: "icon-arrow-bottom"
                    = f.select :saved_state, class: "select__default" do
                      %option 新品/未使用

          .sell__form__content.clearfix
            %h3.sell__form__content__sub-head 配送について
            .sell__form__content__box
              .form__group
                = f.label :delivery_fee do
                  配送料の負担
                  %span.form__require 必須
                %div
                  .select-wrap
                    =fa_icon 'chevron-down', class: "icon-arrow-bottom"
                    = f.select :delivery_fee, class: "input__default" do
                      %option 1

              .form__group
                = f.label :shipping_method do
                  配送料の負担
                  %span.form__require 必須
                %div
                  .select-wrap
                    =fa_icon 'chevron-down', class: "icon-arrow-bottom"
                    = f.select :shipping_method, class: "input__default" do
                      %option らくらくメルカリ便

              .form__group
                = f.label :region do
                  発送元の地域
                  %span.form__require 必須
                %div
                  .select-wrap
                    =fa_icon 'chevron-down', class: "icon-arrow-bottom"
                    = f.collection_select :region, Prefecture.all, :id, :name, class: "select__default" do
                      -# %option ---

              .form__group
                = f.label :delivery_days do
                  発送までの日数
                  %span.form__require 必須
                %div
                  .select-wrap
                    =fa_icon 'chevron-down', class: "icon-arrow-bottom"
                    = f.select :delivery_days, class: "select__default" do
                      %option ---
                      %option 1~2日で発送
                      %option 3~4日で発送

          .sell__form__content.clearfix
            %h3.sell__form__content__sub-head 販売価格(300~9,999,999)
            .sell__form__content__box
              %ul.sell__price
                %li.form__group
                  .clearfix
                    = f.label :price, class: "l-left" do
                      価格
                      %span.form__require 必須
                    .l-right.sell__price__input
                      ¥
                      %div
                        = f.text_field :price, class: "input__default", placeholder: "例)  500"
                %li.clearfix
                  .l-left
                    販売手数料(10%)
                  .l-right
                    -
                %li.cleatfix
                  .l-left 販売利益
                  .l-right
                    - 

          .sell__form__content.sell__btn__box
            %div
              %p
                = link_to "禁止されている商品", "#"
                、
                = link_to "行為", "#"
                を必ずご確認ください。
              %p
                またブランドでシリアルナンバー等がある場合はご記載ください。
                = link_to "偽ブランドの販売"
                は犯罪であり処罰される可能性があります。
              %p
                また、出品を持ちまして
                = link_to "加盟店規約", "#"
                に同意したことになります。

            = f.submit '出品する', class: 'btn__default btn__red'

            = link_to "もどる","#", class: "btn__default btn__gray"

-# ここまでメイン部分

-# ここからフッター部分
= render partial: 'shared/terms-footer'
-# ここまでフッター部分