= render partial: 'shared/mercari-header'
%main.single-header
  %section.l__single__container.buy-item-container
    .sell__container
      .sell__container__inner
        %h2.l__single__head 商品の情報を入力
        = form_with url: "#", class: "sell__form" do |f|
          .sell__upload__box
            %h3.sell__upload__head
              出品画像
              %span.form__require 必須
            %p 最大10枚までアップロードできます
            .sell__dropbox-container.clearfix.state-image-number-10
              .sell__dropbox__box.have__item-0
                = f.file_field :xxx, url: "#", class: "sell__upload__drop-file"
                %pre.visible-pc 
                  ドラッグアンドドロップ
                  またはクリックしてファイルをアップロード


          .sell__form__content
            .form__group
              = f.label :xxx do 
                商品名
                %span.form__require 必須
              %div
                = f.text_field :xxx, url: "#", class: "input__default", placeholder: "商品名(必須40文字まで)"
            .form__group
              = f.label :xxx do
                商品の説明
                %span.form__require 必須
              = f.text_area :xxx, url: "#", class: "textarea-default",placeholder: "商品の説明(必須1,000文字以内) (色、素材、重さ、定価、注意点など) 例) 2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。合わせやすいのでおすすめです。"


          .sell__form__content.clearfix
            %h3.sell__form__content__sub-head 商品の詳細
            .sell__form__content__box
              .form__group
                = f.label :xxx do
                  カテゴリー
                  %span.form__require 必須
                %div
                  .select-wrap
                    =fa_icon 'chevron-down', class: "icon-arrow-bottom"
                    = f.select :"select__default" do
                      %option ---
                      %option レディース
                      %option メンズ
                  .select-wrap
                    =fa_icon 'chevron-down', class: "icon-arrow-bottom"
                    = f.select :"select__default" do
                      %option ---
                      %option トップス
                      %option ジャケット/アウター
                  .select-wrap
                    =fa_icon 'chevron-down', class: "icon-arrow-bottom"
                    = f.select :"select__default" do
                      %option ---
                      %option パーカー
                      %option ニット/セーター
              .form__group
                = f.label :xxx do 
                  サイズ
                  %span.form__require 必須
                %div
                  .select-wrap
                    =fa_icon 'chevron-down', class: "icon-arrow-bottom"
                    = f.select :"select__default" do
                      %option ---
                      %option M
                      %option L
              .form__group.form__suggest__container
                = f.label :xxx do 
                  ブランド
                  %span.form__arbitrary 任意
                %div
                  = f.text_field :xxx, url:"#", class: "input__default", placeholder: "例) シャネル"
              .form__group
                = f.label :xxx do 
                  商品の状態
                  %span.form__require 必須
                %div
                  .select-wrap
                    =fa_icon 'chevron-down', class: "icon-arrow-bottom"
                    = f.select :"select__default" do
                      %option ---
                      %option 新品/未使用に近い
                      %option 全体的に状態が悪い


          .sell__form__content.clearfix
            %h3.sell__form__content__sub-head 配送について
            .sell__form__content__box
              .form__group
                = f.label :xxx do 
                  配送料の負担
                  %span.form__require 必須
                %div
                  .select-wrap
                    =fa_icon 'chevron-down', class: "icon-arrow-bottom"
                    = f.select :"select__default" do
                      %option ---
                      %option 送料込み(出品者負担)
                      %option 着払い(購入者負担)
              .form__group
                = f.label :xxx do 
                  発送元の地域
                  %span.form__require 必須
                %div
                  .select-wrap
                    =fa_icon 'chevron-down', class: "icon-arrow-bottom"
                    = f.select :"select__default" do
                      %option ---
                      %option タイ(バンコク)
                      %option ダナン
              .form__group
                = f.label :xxx do 
                  発送までの日数
                  %span.form__require 必須
                %div
                  .select-wrap
                    =fa_icon 'chevron-down', class: "icon-arrow-bottom"
                    = f.select :"select__default" do
                      %option ---
                      %option 1~2日で発送
                      %option 3~4日で発送


          .sell__form__content.clearfix
            %h3.sell__form__content__sub-head 販売価格(300~9,999,999)
            .sell__form__content__box
              %ul.sell__price
                %li.form__group
                  .clearfix
                    = f.label :xxx, class: "l-left" do
                      価格
                      %span.form__require 必須
                    .l-right.sell__price__input
                      ¥
                      %div
                        = f.text_field :xxx, url:"#", class: "input__default", placeholder: "例)  500"
                %li.clearfix
                  .l-left
                    販売手数料(10%)
                  .l-right
                    ー
                %li.cleatfix
                  .l-left 販売利益
                  .l-right ー


          .sell__form__content.sell__btn__box
            %div
              %p
                = link_to "禁止されている商品", "#"
                、
                = link_to "行為", "#"
                を必ずご確認ください。
              %p
                またブランドでシリアルナンバー等がある場合はご記載ください。
                = link_to "偽ブランドの販売"
                は犯罪であり処罰される可能性があります。
              %p
                また、出品を持ちまして
                = link_to "加盟店規約", "#"
                に同意したことになります。
            %button.btn__default.btn__red{type: "submit"} 出品する
            = link_to "もどる","#", class: "btn__default btn__gray"
  = render partial: 'shared/terms-footer'
