= render partial: 'shared/header'
.search-content
  .search-content__box.clearfix
    .search-content-right
      .search-content-right__header
        %h2.search_word
          ="#{params[:search]}"
          %span.search_word__result
            の検索結果
        .search_number 
          = "#{@start_count} ~ #{@end_count} 件表示"
        



      .search-item-index
        - @items.each do |item|
          .search-item-index__box
            .search-item-index__content
              .search_item_image
                - item.item_images.each.with_index do |item_image,i|
                  - if i == 1
                    =image_tag (item_image.image),width:"160",height:"170"
              .search-item-index__text
                =item.name
              .item-price
                ¥
                =item.price
      = paginate(@items)


      -#   .search-item-index__box
      -#     .search-item-index__content
      -#       =image_tag "https://static.mercdn.net/thumb/photos/m95577479951_1.jpg?1569509266", class:'search_item_image'
      -#     .search-item-index__text
      -#       パンツ
      -#       .item-price
      -#         ¥2000
      -#       .item-likes
      -#         .item-likes__count
      -#         = fa_icon "heart", class:'like-count-icon' 
      -#         %span 1
      
      -# -# = paginate(@items) 




    .search-content-left
      = form_with( id:"keyword", class: 'item-search-list' ) do |f| 
      
        .item-sort
          = fa_icon "chevron-down", class: 'sort-search-icon'
          = f.text_field :xxx, value: "並び替え", id: "item", class: 'item-sort-search'
        
          
        .detailed-search
          .detailed-search-title 検索結果
          .detailed-search__item
            = f.label :keyword do
              = fa_icon "plus", class: 'icon'
              %span.detailed-search-item__keyword キーワードを追加する
            .detailed-search-item__form
              = f.text_field :xxx, id: "keyword", class:'item-keyword-search'

          .detailed-search__item
            = f.label :keyword do
              = fa_icon "list", class: 'icon'
              %span.detailed-search__item--keyword カテゴリを選択する
            .detailed-search-item__form
              = f.text_field :xxx, id: "keyword", class:'item-keyword-search'

          .detailed-search__item
            = f.label :keyword do
              %span.detailed-search__item--keyword ブランド名から探す
            .detailed-search__form
              = f.text_field :xxx, id: "keyword", class:'item-keyword-search'

          .detailed-search__item
            = f.label :keyword do
              = fa_icon "expand", class: 'icon'
              %span.detailed-search__item--keyword  サイズを指定する
            .detailed-search__form
              = f.text_field :xxx, id: "keyword", class:'item-keyword-search'




          .detailed-search__price
            = f.label :keyword do
              = fa_icon "coins", class: 'icon'
              %span.detailed-search__item--keyword  価格
            .detailed-search__form
              = f.text_field :xxx, id: "keyword", class:'item-keyword-search'
            .detailed-search__form--price
              = f.text_field :xxx, id: "keyword", class:'item-price-search', placeholder: "¥ Min" 
              %span ~
              = f.text_field :xxx, id: "keyword", class:'item-price-search', placeholder: "¥ Max"





          .detailed-search__status
            .detailed-search__status--top
              = f.label :keyword do
                = fa_icon "star", class: 'icon'
                %span.detailed-search__item--keyword  商品の状態

            .detailed-search__check
              .detailed-search__status--list
                = fa_icon "square-o", class: 'icon-check'
                = f.label :keyword do
                  %span.detailed-search__form--status すべて

            .detailed-search__check 
              = fa_icon "square-o", class: 'icon-check'   
              = f.label :keyword do
                %span.detailed-search__item--status 新品、未使用

            .detailed-search__check
              = fa_icon "square-o", class: 'icon-check'
              = f.label :keyword do
                %span.detailed-search__item--status 未使用に近い

            .detailed-search__check
              = fa_icon "square-o", class: 'icon-check'
              = f.label :keyword do
                %span.detailed-search__item--status   目立った傷や汚れなし

            .detailed-search__check
              = fa_icon "square-o", class: 'icon-check'
              = f.label :keyword do
                %span.detailed-search__item--status  やや傷や汚れあり
            
            .detailed-search__check
              = fa_icon "square-o", class: 'icon-check'
              = f.label :keyword do
                %span.detailed-search__item--status  傷や汚れあり
              
            .detailed-search__check
              = fa_icon "square-o", class: 'icon-check'
              = f.label :keyword do
                %span.detailed-search__item--status 全体的に状態が悪い






          .detailed-search__box
            .detailed-search__box--top
              = f.label :keyword do
                = fa_icon "truck", class: 'icon'
                %span.detailed-search__item--keyword  配送料の負担
          
            .detailed-search__check
              = fa_icon "square-o", class: 'icon-check'
              = f.label :keyword do
                %span.detailed-search__item--fee  すべて
            
            .detailed-search__check
              = fa_icon "square-o", class: 'icon-check'
              = f.label :keyword do
                %span.detailed-search__item--fee  着払い(購入者負担)
              

            .detailed-search__check
              = fa_icon "square-o", class: 'icon-check'
              = f.label :keyword do
                %span.detailed-search__item--fee  送料込み(出品者負担)

          
          .detailed-search__box
            .detailed-search__box--top
              = f.label :keyword do
                = fa_icon "shopping-cart", class: 'icon'
                %span.detailed-search__item--keyword  販売状況
            
            .detailed-search__check
              = fa_icon "square-o", class: 'icon-check'
              = f.label :keyword do
                %span.detailed-search__item--fee  すべて
            
            .detailed-search__check
              = fa_icon "square-o", class: 'icon-check'
              = f.label :keyword do
                %span.detailed-search__item--fee  販売中

            .detailed-search__check
              = fa_icon "square-o", class: 'icon-check'
              = f.label :keyword do
                %span.detailed-search__item--fee  売り切れ