= render partial: 'shared/header'
%section.item__box__container
  %h1.item__name
    = @item.name
  .item__main__content.clearfix
    .item__photo
      .owl__carousel
        .owl__carousel__inner
          - @item.item_images.each_with_index do |item, i|
            .owl__item{class: i}
              = image_tag item.image.url
      .select__carousel
        - @item.item_images.each_with_index do |item, i|
          .owl__dot{data: {image: i}}
            = image_tag item.image.url
      .go__number__likes
        現在、
        %span> 1人
        がこの商品にいいね!しています
    %table.item__detail__table
      %tbody
        %tr
          %th 出品者
          %td
            = link_to  user_path do
              = @item.user.nickname
            %div.ratingbox
              .item__user__ratings
                = image_tag"laugh-solid.svg",class: "icon__good face"
                %span 29
              .item__user__ratings
                = image_tag"meh-solid.svg",class: "icon__normal face"
                %span 0
              .item__user__ratings
                = image_tag"frown-solid.svg",class: "icon__bad face"
                %span 0
        %tr
          %th カテゴリー
          %td
            = link_to  "#" do
              = @item.category.parent.parent.category
            = link_to  "#" , class:'item__detail__table__sub__category' do
              =fa_icon "chevron-right", class: 'icon'
              = @item.category.parent.category
            = link_to  "#" , class:'item__detail__table__sub__sub__category' do
              =fa_icon "chevron-right", class: 'icon'
              = @item.category.category
        - if @item.brand_id.present?
          %tr
            %th ブランド
            %td
              = link_to "#" do
                = @item.brand.name
        - if @item.size.present?
          %tr
            %th サイズ
            %td
              = @item.size
        %tr
          %th 商品の状態
          %td
            = @item.saved_state
        %tr
          %th 配送料の負担
          %td
            = @item.delivery_fee == true ? "送料込み(出品者負担)" : "着払い(購入者負担)"
        %tr
          %th 配送の方法
          %td
            = @item.shipping_method
        %tr
          %th 配送元地域
          %td
            = link_to "#" do
              = @item.region

        %tr
          %th 発送日の目安
          %td
            = @item.delivery_days
  .item__price__box.text__center
    %span.item__price__box__price
      ¥
      = @item.price
    %span.item__price__box__tax (税込)
    %span.item__price__box__shipping__fee 送料込み
  = link_to  "購入画面に進む","/pending/itembuy" , class:'item__buy__btn'
  .item__description.f14
    %p.item__description__inner
      = @item.description
  .item__button__container.clearfix
    .item__button__container__left
      %button.item__button.item__button__like{name:  "like!", type: "button"}
        = fa_icon 'heart-o', class: "icon"
        %span いいね!
        %span.fade__in__down 1
      = link_to  "#",class: "item__button item__button__report clearfix"  do
        =fa_icon "flag-o", class: 'icon'
        %span 不適切な商品の報告
    .item__button__container__right
      = link_to  "#"  do
        =fa_icon "lock", class: 'icon'
        %span あんしん・あんぜんへの取り組み
.item__comments.item__box__container
  .comment
    .comment__user
      = link_to user_path, class: "comment__user__link" do
        = image_tag 'member_photo_noimage_thumb.png', alt: 'comment__user__link__image', class: 'comment__user__link__image'
        %p.comment__user__link__name たろう
    .comment__box
      .comment__box__text 安くしてください。
      .comment__box__icons
        .comment__box__icons__time
          =fa_icon 'clock', class: 'icon-time'
          %span 2時間前
        .comment__box__icons__flags
          = link_to  "#",class: ".comment__box__icons__flag"  do
            =fa_icon "flag-o", class: 'icon'
  .comment
    .comment__user
      = link_to user_path, class: "comment__user__link" do
        = image_tag 'member_photo_noimage_thumb.png', alt: 'comment__user__link__image', class: 'comment__user__link__image'
        %p.comment__user__link__name たろう
    .comment__box
      .comment__box__text 安くしてください。
      .comment__box__icons
        .comment__box__icons__time
          =fa_icon 'clock', class: 'icon-time'
          %span 2時間前
        .comment__box__icons__flags
          = link_to  "#",class: ".comment__box__icons__flag"  do
            =fa_icon "flag-o", class: 'icon'
  .comment__notice
    相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
  .comment__write
    %textarea.textarea-default{name: "comment__write"}
    %button.btn-default{type: "submit",class:  "comment__write__submit btn-gray"} コメントする
.item__shuffle
  .item__shuffle__before
    = link_to  "#"  do
      =fa_icon"chevron-left",class:'icon'
      %span adidasのかばん
  .item__shuffle__after
    = link_to  "#"  do
      %span nikeのかばん
      =fa_icon"chevron-right",class:'icon'
.item__sns
  %ul
    %li
      = link_to  "#"  do
        =fa_icon"facebook-square",class:'item__sns__facebook-icon'
    %li
      = link_to  "#"  do
        =fa_icon"twitter",class:'item__sns__twitter-icon'
    %li
      = link_to  "#"  do
        =fa_icon"pinterest",class:'item__sns__pinterest-icon'
.item__buyer-collection-title
  = link_to  "#"  do
    %h2
      = @item.user.nickname
      さんのその他の出品
.item__buyer-collection
  - @user_items.each do |item|
    .item-show__item-box
      = link_to  item_path(item)  do
        - item.item_images.each_with_index do |item_image, i|
          - if i == 0
            = image_tag item_image.image.url, alt: 'item-image', class: 'recommnd-item__image'
          - else
            - break
        .item-show__item-box-text
          %span.item-show__item-box__title
            = item.name
          .item-box-text__fee-box
            %span.item-box-text__fee-box__fee
              ¥
              = item.price
            .item-box-text__fee-box__right
              = fa_icon 'heart-o', class: "icon"
              %span  1

.item__buyer-collection-title
  = link_to  "#"  do
    %h2
      = @item.brand.name
      その他の商品
.item__brand-collection
  - @brand_items.each do |item|
    .item-show__item-box
      = link_to  item_path(item)  do
        - item.item_images.each_with_index do |item_image, i|
          - if i == 0
            = image_tag item_image.image.url, alt: 'item-image', class: 'recommnd-item__image'
          - else
            - break
        .item-show__item-box-text
          %span.item-show__item-box__title
            = item.name
          .item-box-text__fee-box
            %span.item-box-text__fee-box__fee
              ¥
              = item.price
            .item-box-text__fee-box__right
              = fa_icon 'heart-o', class: "icon"
              %span  1
= render partial: 'shared/footer'