= render partial: 'shared/header'
- breadcrumb :card
= render 'shared/pankuzu_merukari'
%main.card-new__container.clearfix
  = render partial: 'shared/card-add'
  = render partial: 'shared/user_menu'
= render partial: 'shared/footer'
