= render partial: 'shared/header'
.card__show
  .l__container
    .l__content 
      %section.l__content__inner
        %h2.l__content__inner__head 支払い方法
        .l__single__inner
          %section
            .l__single__content
              %h3.l__chapter__sub__head クレジットカード一覧
            %ul.settings__payment__list
              %li
                = form_with url: card_path(@card.id), method: :delete, local: true, id: 'charge-form', class: "l__single__content" do |f|
                  %figure.card-info
                    = image_tag '//www-mercari-jp.akamaized.net/assets/img/card/' + @card_src+'?2482339763', alt: @card_src
                    .settings__payment__num
                      = "**** **** **** " + @card_information.last4
                    .settings__payment__num
                      = @month_year
                  = f.submit "削除する", {class: "settings__payment__remove"}
                  
          .settings__not__regist
            = link_to "https://www.mercari.com/jp/",{terget: "_blank"} , method: :get do
              %span 支払い方法について 
              = fa_icon 'chevron-right', class: "card-show__arrow"
  = render partial: 'shared/user_menu'
= render partial: 'shared/footer'
