= render partial: 'shared/header'
.category__content
  .category__main
    .category__main__title
      %h2.category__main__title--text
        カテゴリー一覧
    .category__main__top.clearfix
      = link_to "レディース", root_path, class: "category__main__top__link-name"
      = link_to "メンズ", root_path, class: "category__main__top__link-name"
      = link_to "ベビー・キッズ", root_path, class: "category__main__top__link-name"
      = link_to "インテリア・住まい・小物", root_path, class: "category__main__top__link-name"
      = link_to "本・音楽・ゲーム", root_path, class: "category__main__top__link-name"
      = link_to "おもちゃ・ホビー・グッズ", root_path, class: "category__main__top__link-name"

    .category__main__list-box
      .category__main__content.clearfix
        .category__main__parent
          %h3.category__main__parent--name レディース
        .category__sub.clearfix
          = link_to root_path, class: "category__sub__content__link-name" do
            %p.category__sub__title
              すべて
          .category__main__child
            %h4.category__main__child--text
              トップス
          .category__main__grandchild
            .category__main__grandchild__box
              = link_to root_path, class: "category__main__grandchild__link-name" do
                %p すべて
            .category__main__grandchild__box
              = link_to root_path, class: "category__main__grandchild__link-name" do
                %p Tシャツ/カットソー(半袖/袖なし)
            .category__main__grandchild__box
              = link_to root_path, class: "category__main__grandchild__link-name" do
                %p Tシャツ/カットソー(七分/長袖)
            .category__main__grandchild__box
              = link_to root_path, class: "category__main__grandchild__link-name" do
                %p シャツ/ブラウス(半袖/袖なし)




      
      .category__main__content.clearfix
        .category__main__parent
          %h3.category__main__parent--name メンズ
        .category__sub.clearfix
          = link_to root_path, class: "category__sub__content__link-name" do
            %p.category__sub__title
              すべて
          .category__main__child
            %h4.category__main__child--text
              トップス
          .category__main__grandchild
            .category__main__grandchild__box
              = link_to root_path, class: "category__main__grandchild__link-name" do
                %p すべて
            .category__main__grandchild__box
              = link_to root_path, class: "category__main__grandchild__link-name" do
                %p Tシャツ/カットソー(半袖/袖なし)
            .category__main__grandchild__box
              = link_to root_path, class: "category__main__grandchild__link-name" do
                %p Tシャツ/カットソー(七分/長袖)
            .category__main__grandchild__box
              = link_to root_path, class: "category__main__grandchild__link-name" do
                %p シャツ/ブラウス(半袖/袖なし)
            

      .category__main__content.clearfix
