= render partial: 'shared/header'
- breadcrumb :category_lists
= render 'shared/pankuzu_merukari'
.category__content
  .category__main
    .category__main__title
      %h2.category__main__title--text
        カテゴリー一覧
    .category__main__top.clearfix
      - @items.where('ancestry is null').each do |item|
        = link_to '#' do
          .category__main__top__link-name{id: "category-#{item.id}"}
            = item.category

    .category__main__list-box
      - @items.where('ancestry is null').each do |item_parent|
        .category__main__content.clearfix
          .category__main__parent
            %h3{class: "category__main__parent--name category-#{item_parent.id}" }
              = item_parent.category
          .category__sub.clearfix
            = link_to category_path(item_parent, position: "parent"), class: "category__sub__content__link-name" do
              %p.category__sub__title
                すべて
            - item_parent.children.each do |item_child|
              .category__main__child
                %h4.category__main__child--text
                  = item_child.category
              .category__main__grandchild.clearfix
                .category__main__grandchild__box
                  = link_to category_path(item_child, position: "child"), class: "category__main__grandchild__link-name" do
                    %p すべて
                - item_child.children.each do |item_grandchild|
                  .category__main__grandchild__box
                    = link_to category_path(item_grandchild, position: "grandchild"), class: "category__main__grandchild__link-name" do
                      %p 
                        = item_grandchild.category
